#app .hud-radmir-radar__map {
    width: 21.9vh !important;
    height: 20.9vh !important;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vh;
    border: 0.65vh solid #000000 !important
}

body #app .hud-radmir-radar__map {
    transition: .3s
}

#app .hud-hassle-map {
    width: 32vh !important;
    height: 32vh !important
}

#app .hud-radmir-radar__radar {
    width: 26.3vh;
    border-radius: 2vh
}

#app .hud-radmir-radar {
    left: 7.2vh
}