body #app .capture-table {
    flex-direction: column !important;
    min-width: 35vh !important;
    background: rgba(0, 0, 0, .8) !important;
    padding: 1.5vh 2vh !important;
    padding-top: 3.6vh !important;
    border-radius: .46vh !important;
    box-shadow: none !important;
    align-items: flex-start !important;
    left: 2.5vh !important;
    bottom: 28vh !important
}

#app .capture-table__col .name,
#app .capture-table__col-kills,
#app .capture-table__col-kills.my,
#app .capture-table__timer {
    width: auto !important;
    height: auto !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 700 !important;
    background: 0 0 !important;
    padding: 0 !important
}

#app .capture-table__col-kills,
#app .capture-table__col-kills.my {
    margin: 0 !important
}

body .capture-table__col {
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
    height: 3vh !important;
    flex-basis: 100% !important;
    justify-content: space-between !important;
    flex-direction: row-reverse !important
}

body .capture-table__col-kills {
    color: #b8303a !important;
    font-size: 2.5vh !important;
    font-style: normal !important
}

body .capture-table__col .name {
    font-style: normal !important;
    font-size: 2vh !important;
    margin-right: 3vh !important
}

body .capture-table__timer {
    color: #26a62b !important;
    font-style: normal !important;
    font-size: 2.5vh !important;
    position: absolute !important;
    top: .5vh !important;
    left: -.5vh !important
}